* {
    color: var(--mainBlack);
}

.bg-color {
    background-color: unset;
}

div {
    overflow: hidden;
}

.noti {
    padding-bottom: 5px;
}

.profile {
    width: 11%;
}

.header {
    padding: 10px 0;
}

.ml {
    margin-left: 5em;
}

button.mark {
    border: none;
    background-color: #ebf4fd00;
    padding: 0;
    color: #185bf9;
    font-size: 12px;
}

.notification {
    color: #212f3d;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.noti.false {
    background-color: #c9e0fa;
}

.justify-content {
    justify-content: space-between!important;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.col.notification.ml a {
    color: #185bf9;
}

svg#add-circle-line {
    margin-top: -5px;
}

.line {
    height: 0.8px;
    background-color: #c0c0c052;
    margin-bottom: 10px;
}

.tx-12 {
    font-size: 12px;
    padding-bottom: 15px;
    color: #212F3D;
    letter-spacing: 0.4px;
}

.tx-title {
    font-size: 14px;
    font-weight: 600;
    color: #212F3D;
    padding-bottom: 15px;
}

.tx-to {
    color: #707070;
    font-size: 13px;
}

.profile>img {
    width: 90px;
    padding: 0 12px;
    height: 65px;
    border-radius: 50%;
}

.blue {
    color: #425FED
}