*{
    color: var(--mainBlack);
}

.bg-color {
    background-color: unset;
}

.noti {
    padding-bottom: 5px;
}

.header {
    padding: 10px 0;
}

.notification {
    color: #212f3d;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}

.line{
    height: 1px;
    background-color: silver;
    margin-bottom: 5px;
}

.tx-12{
    font-size: 14px;
    padding-bottom: 15px;
    color: #212F3D;
    letter-spacing: 0.4px;
}

.tx-title {
    font-size: 17px;
    font-weight: 600;
    color: #212F3D;
    padding-bottom: 15px;
}

.tx-to {
    color: #707070;
    font-size: 13px;
}

.profile > img{
    width: 90px;
    padding: 0 12px;
    height: 65px;
    border-radius: 50%;
}