* {
    color: var(--mainBlack);
}

.Content {
    float: left;
    margin-top: 10px;
    display: block;
    border-radius: 7px;
    width: 68%;
    padding-bottom: 20px;
    margin-left: 20px;
}

.bg-color{
    background-color: #f4f7fb;
}

.overflow-hidden {
    overflow: hidden;
}

.noti {
    width: 100%;
    padding-bottom: 5px;
    margin: 0px 0px 2px 0px;
}

.hovered:hover {
    padding-bottom: 5px;
    margin: 0px 0px 2px 0px;
    box-shadow: 0 2px 5px 1px #0000001c;
    background-color: #d3dde71f;
}

.options {
    display: none;
}

.noti:hover .options {
    display: flex;
}

.options button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.profile {
    width: 11%;
}


.ml {
    margin-left: 5em;
}

button.mark {
    border: none;
    background-color: #ebf4fd00;
    padding: 0;
    color: #185bf9;
    font-size: 12px;
}

.notification {
    color: #212f3d;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.noti.false {
    background-color: #c9e0fa5c;
    opacity: 1;
}

.noti.true {
    opacity: 0.6;
}

.justify-content {
    justify-content: space-between!important;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.col.notification.ml a {
    color: #185bf9;
}

svg#add-circle-line {
    margin-top: -5px;
}

.line {
    height: 0.8px;
    background-color: #c0c0c028;
    margin-bottom: 10px;
}

.tx-12 {
    font-size: 12px;
    padding-bottom: 10px;
    color: #212F3D;
    letter-spacing: 0.4px;
}

.tx-title {
    font-size: 14px;
    font-weight: 600;
    color: #212F3D;
    padding-bottom: 10px;
}

.tx-to {
    color: #707070;
    font-size: 13px;
}

.profile>img {
    width: 90px;
    padding: 0 12px;
    height: 65px;
    border-radius: 50%;
}

.blue {
    color: #425FED
}

p {
    margin-top: 0;
    margin-bottom: 2px;
}

.markAsRead {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}