<div class="container-fluid round">
  <div class="bg-color container-fluid ">
    <div class="row pt-1">
      <div class="col-10">
        <p>Notifications</p>
      </div>
      <div class="col">
          <i style="font-size:24px; color: white;" class="fa">&#xf055;</i>
          <a href="#">Mark all as read</a>
      </div>
      <div class="line"></div>
    </div>

    <div class="noti row">
        <div class="col-1 p-3">
            <img class="rounded-circle w-100" src="../../../assets/images/colors.jpg" alt="prof">
        </div>

        <div class="col">
            <h5>This summer's challange post already</h5>
            <p>Dont't miss Abiseth this challenge trophy meant be your check the link below to join and do the challange for this upcoming summer</p>
            <p>abi_seth85270.codeama.dev</p>
        </div>
        <hr>
    </div>

    <div class="noti row">
        <div class="col-1 p-3">
            <img class="rounded-circle w-100" src="../../../assets/images/colors.jpg" alt="prof">
        </div>

        <div class="col">
            <h5>Last summer challange results are out</h5>
            <p>Hi everybody the holiday summer challange is up you can take part...</p>
            <p>abi_seth85270.codeama.dev</p>
        </div>
        <hr>
    </div>

    <div class="noti row">
        <div class="col-1 p-3">
            <img class="rounded-circle w-100" src="../../../assets/images/colors.jpg" alt="prof">
        </div>

        <div class="col">
            <h5>Rutayisire asked a question in the ama's group</h5>
            <p>You got to go and answer the question asked to you be Rutayisire in the ama code group 2 hours ago</p>
            <p>abi_seth85270.codeama.dev</p>
        </div>
        <hr>
    </div>

    <div class="noti row">
        <div class="col-1 p-3">
            <img class="rounded-circle w-100" src="../../../assets/images/colors.jpg" alt="prof">
        </div>

        <div class="col">
            <h5>Congz you have been approved in the ama group</h5>
            <p>You are now a code ama and any one can ask you a special question. Be ready anytime.</p>
            <p>abi_seth85270.codeama.dev</p>
        </div>
        <hr>
    </div>


  </div>
</div>
