<div class="container-fluid round">
  <div class="bg-color">

    <div class="header row">
      <div class="col-10">
        <div class="notification">Notifications</div>
      </div>
      <div class="col">
        <i style="font-size:24px; color: white;" class="fa">&#xf055;</i><a href="#">Mark all as read</a>
      </div>
    </div>
    <div class="line"></div>

    <div *ngIf="notnull">
      <div ngFor="let noti of notificationData">
        <div class="noti row">
          <div class="col-1 profile">
            <img src="../../../assets/images/sara.png" alt="prof">
          </div>

          <div class="col">
            <div class="tx-title">{{noti.title}}</div>
            <div class="tx-12">{{noti.description}}</div>
            <p class="tx-to">{{noti.to}}</p>
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!notnull">
      <div class="noti row">
        <div class="col-1 profile">
          <img src="../../../assets/images/sara.png" alt="prof">
        </div>

        <div class="col">
          <div class="tx-title">Codeama welcomes you to coding world!</div>
          <div class="tx-12">Codeama is there to help all developer to get used to coding world. You can see the others project and also post your to bloom storm your project and get it known to other codeamas and every users.</div>
          <p class="tx-to">abi_seth8676.codeama.dev</p>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
