
<p *ngIf="noQuestionStatus" style="text-align: center; margin-top: 3.5em; opacity: 0.6; font-size: 0.8;">Oops! You haven't asked any questions yet!</p>
<p *ngIf="loadingData" style="text-align: center; margin: auto; margin-top: 3.5em; opacity: 0.6; font-size: 0.8; display: flex; align-items: center;">
    <span style="margin-right: 0.8em;" class="spinner-border spinner-border-sm mr-1"></span>
   Loading . . .
</p>
<div class="questionsDetails" *ngFor="let question of questions">
    <div>
        <div>
            <!-- comments: Array(0)
length: 0
[[Prototype]]: Array(0)
questions: Array(1)
0:
code_snippet: null
date: "2021-10-16T19:20:31.330Z"
image_question: null
question_description: "The following command uses the Angular CLI to generate a basic Angular application with an application routing module, called AppRoutingModule"
question_title: "Angular routing procedures"
tagged_technologies: "Javascript,Typescript,Angular"
text_question: null
_id: "616b25ffa2e441002319ebf5"
[[Prototype]]: Object
length: 1
[[Prototype]]: Array(0)
userId: "61407b0ebd4cf70023c587f0"
__v: 0
_id: "616b25ffa2e441002319ebf4" -->
            <div class="dev_details" class="d-flex">
                <figure class="position-relative d-flex justify-content-center">
                    <div>
                        <img style="width: 100%;" [src]="devpic" alt="">
                    </div>
                    <figcaption class="{{checkBadge(devbadge)}} rounded-pill">{{devbadge}}</figcaption>
                </figure>
                <div>
                    <p>
                        <strong>{{Username}}</strong><span>@{{Username}}</span>
                    </p>
                    {{question.date | date:"longDate"}}
                </div>
            </div>
            <div class="question_details">
                <h5><a [href]="answerQuestionLink + question.question_title" class="text-decoration-none"><strong>{{question.question_title}}</strong></a></h5>
                <div [innerHTML]="question.question_description" id="div_desc"></div>
            </div>
            <p id="dev_username">{{Username}}.codeama.dev</p>
            <div class="question_views">
                <div>
                    <strong>{{question.comments.length}}</strong> Answers
                </div>
            </div>
        </div>
        <div style="width: 40%; font-size: .9em;">
            <h6 class=" text-center">Tagged technologies</h6>
            <div class=" d-flex justify-content-center flex-wrap">
                <img *ngFor="let tagtech of question.tagged_technologies" [src]="'assets/test_images/'+tagtech+'.png'" alt="" style="display: inline; width: auto; height: 40px; margin-right: 10px;" class="mt-2">
            </div>
        </div>
    </div>
    <hr>
</div>