<div class="dashboard p-3">
    <div class="postArticle p-3">
        <div class="art_heading d-flex justify-content-between">
            <label for="article">Post an article</label>
            <button class="text-primary btn">
                <span>Tag article</span>
                <svg id="arrow-down-circle-line" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 25 25">
                    <path id="Path_41" data-name="Path 41" d="M0,0H22V22H0Z" fill="none"/>
                    <path id="Path_42" data-name="Path 42" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16.2A7.2,7.2,0,1,0,3.8,11,7.2,7.2,0,0,0,11,18.2Zm.9-7.2h2.7L11,14.6,7.4,11h2.7V7.4h1.8Z" fill="#4290ed"/>
                </svg>                  
            </button>
        </div>
        <div>
            <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#212f3d"/>
            </svg>                
            <input type="text" name="article" class="input w-100 form-control" (input)="article = $event.target.value" placeholder="Write your article...">
        </div>
    </div>
    <div class="sideContent">
        <div class="repeated_projects">
            <h6>Repeated Projects</h6>
            <hr>
            <div>
                <p>More than 100 projects daily 
                    are found duplicate and being 
                    worked on by many programmers
                </p>
                <a href="" class="link-primary">Check my project now &rarr;</a>
                <br>
                <br>
                <a class="btn text-primary occ_proj">Occupied projects</a>
            </div>
        </div>
        <div class="bugs_and_qtns repeated_projects">
            <h6>Bugs  & questions solved</h6>
            <hr>
            <div>
                <a href="">
                    <img src="assets/test_images/js.png" alt="js">
                    <span>Javascript</span>
                </a>
                <a href="">
                    <img src="assets/test_images/java.png" alt="java">
                    <span>Java</span>
                </a>
                <a href="">
                    <img src="assets/test_images/python.png" alt="python">
                    <span>Python</span>
                </a>
                <a href="">
                    <img src="assets/test_images/c.png" alt="C++">
                    <span>C++</span>
                </a>
                <a href="">
                    <img src="assets/test_images/reactjs.png" alt="react">
                    <span>React JS</span>
                </a>
                <a href="">
                    <img src="assets/test_images/swift.png" alt="swift">
                    <span>Swift</span>
                </a>
                <a href="">
                    <img src="assets/test_images/angular.png" alt="angular">
                    <span>Angular</span>
                </a>
                <a href="">
                    <img src="assets/test_images/vue.png" alt="vue">
                    <span>Vue JS</span>
                </a>
            </div>
        </div>
        <div class="prizes repeated_projects">
            <h6>Prizes</h6>
            <hr>
        </div>
    </div>
    <div class="mainContent vh-100">
        <div class="nav">
            <a routerLink="courses" routerLinkActive="active">Courses</a>
            <a routerLink="questions" routerLinkActive="active">Questions</a>
            <a routerLink="bugs">Bugs solved</a>
            <a routerLink="resources">Resources</a>
        </div>
        <hr>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>