<div class="ansQtnDiv">
    <h6>Answer question</h6>
    <hr>
    <div>
        <div class="dev_details" class="d-flex">
            <figure class="position-relative d-flex justify-content-center">
                <div>
                    <img [src]="'https://codeama-backend.herokuapp.com/'+question.userInfo.profilePicture" alt="">
                </div>
            </figure>
            <div>
                <p>
                    <strong>{{question.userInfo.Username}}</strong><span class="rounded-pill d-inline-block pl-3 pr-3 {{checkBadge(question.userInfo.Badge)}}">{{question.userInfo.Badge}}</span>
                </p>
                <span>{{question.userInfo.Username}}.codeama.net</span>
            </div>
        </div>
        <p>
            <span>Asked on </span><strong>{{question.question.date | date:"longDate"}}</strong>
        </p>
    </div>
    <main>
        <div class="main">
            <h5 class="mb-3">
                {{question.question.question_title}}
            </h5>
            <p>
                {{question.question.question_description}} <br> {{question.question.text_question}}
            </p>
        </div>
        <div class="shortDet">
            <div>
                <span>{{question.comment.length}}</span>
                <br><span> Answers</span>
            </div>
            <!-- <div>
                <span>No</span>
                <br><span> Answers</span>
            </div>
            <div>
                <span>8</span>
                <br> <span>Viewers</span>
            </div> -->
        </div>
        <form #answerForm="ngForm" class="answer_section d-flex justify-content-between align-items-end" (ngSubmit)="answerQue(answerForm.value)">
            <div class="col-9 answer">
                <label for="qtn_ans" class="mb-2">Answer question</label>
                <!-- <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                    <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                    <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--mainBlack)"/>
                </svg>  -->
                <angular-editor [(ngModel)]="htmlContent" name="htmlContent" [config]="config"></angular-editor>
                <!-- <textarea name="htmlContent" [ngModel]="htmlContent" id="qtn_ans"  rows="7" class="form-text form-control" placeholder="Answer this question..."></textarea> -->
                <div class="form-group">
                    <label for="bug-codes my-2">You can still paste your code in the above editor But if you want to write them separetely here is the tool </label>
                    <ngx-codemirror class="col-lg-10 bg-primary" [(ngModel)]="codemirror" ngModel [options]="codeMirrorOptions" name="codemirror">
                    </ngx-codemirror>
                </div>
            </div>
            <div class="" style="width: 23%;">
                <p style="font-size: .9em;">Question actions</p>
                <button type="submit" [disabled]="!answer.valid" class="btn btn-primary col-12">Answer question</button>
            </div>
        </form>
    </main>
    <section class="comments_section mt-5">
        <p>Answers section &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>{{question.comment.length}} answers</span></p>
        <div *ngFor="let comment of question.comment">
            <div class="dev_details" class="d-flex">
                <figure class="position-relative d-flex justify-content-center">
                    <div>
                        <img [src]="'https://codeama-backend.herokuapp.com/'+comment.solverInfo.profilePicture" alt="">
                    </div>
                </figure>
                <div>
                    <p>
                        <strong>{{comment.solverInfo.Username}}</strong>
                    </p>
                    <span>{{comment.solverInfo.Username}}.codeama.net</span>
                </div>
            </div>
            <p [innerHTML]="comment.comment[0].text_comment"></p>
            <div *ngIf="comment.comment[0].code_snippet_comment[0].code_block" class="ms-5"><ngx-codemirror class="col-lg-10 bg-primary my-2" ngModel="{{ comment.comment[0].code_snippet_comment[0].code_block }}" [options]="codeMirrorOptions2">
            </ngx-codemirror></div>
            <hr>
        </div>
    </section>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">  
    <p style="color: white">Please Wait... </p>  
</ngx-spinner> 
<notifier-container></notifier-container>
