img {
    width: 100%;
    height: auto;
}

.demo-img {
    height: 270px!important;
    overflow-y: hidden;
}

.demo-img>img {
    width: 100%;
    height: auto;
}

.project-container {
    color: var(--mainBlack);
    border-radius: 7px;
    background: var(--contBgLight);
}

.tech {
    margin: 8px 10px;
    font-size: 12px;
    font-weight: 450;
    color: grey;
    border-radius: 40px;
    padding: 8px;
    background-color: var(--contBgLight);
}

ol,
ul {
    padding-left: 0!important;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.groupname {
    font-size: 15px!important;
    color: #6D6F7A
}

.card-title {
    color: #6D6F7A;
    font-size: 20px;
}

.technologies-title {
    color: #6D6F7A;
    font-size: 16px;
}

.project-description-text {
    font-size: 13px;
    color: #9699A0;
}

.viewMoreBtn {
    background-color: #4286ED!important;
    color: white;
}

.card-group {
    width: 31%;
    margin-top: 5px;
}

.card {
    background-color: var(--questBg)!important;
}

#addPro {
    position: relative;
    left: 6.6em;
    font-size: 13px;
}

.container-fluid>.heading {
    position: relative;
    top: 10px;
}

#page-title {
    font-size: 18px;
}