<div class="container">
    <div class="heading">

    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">card title</h4>
                <!-- <h4 class="card-title">{{project.Title}}</h4> -->
                <ul class="technologies">
                    <!-- <li>{{technology.name}}</li> -->
                </ul>
                <div class="Group-profile">
                    <div class="profile">
                        <img src="" alt="">
                        <h4 class="groupname"></h4>
                    </div>
                </div>
                <div class="project-description">
                    <p>project Description</p>
                    <!-- <p>{{project.Description}}</p> -->
                </div>
                <div class="link-to-pro">
                    <a name="" id="" class="btn btn-primary" href="#" role="button"></a>
                </div>
            </div>
        </div>
    </div>
</div>