img {
    width: 100%;
    height: auto;
}

.demo-img {
    height: 233px!important;
    overflow-y: hidden;
}

.demo-img>img {
    width: 100%;
    height: auto;
}

.project-container {
    color: var(--mainBlack);
    border-radius: 7px;
    background: var(--contBgLight);
}

.tech {
    font-size: 12px;
    color: gray;
    border-radius: 40px;
    padding: 8px 8px 8px 0;
    margin-right: 13px;
    opacity: .6;
}

ol,
ul {
    padding-left: 0!important;
}

.profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Group-profile,.project-description {
    margin-bottom: 1em;
}

.groupname {
    font-size: 15px!important;
    color: #6D6F7A
}

.card-body {
    padding-top: 0px!important;
}

.card-title {
    color: #6D6F7A;
    font-size: 20px;
}

.technologies-title {
    color: #6D6F7A;
    font-size: 16px;
}

.project-description-text {
    font-size: 13px;
    color: #9699A0;
}

.viewMoreBtn {
    background-color: #4286ED!important;
    color: white;
    margin: 0 auto;
}

.card-group {
    width: 31%;
    margin-top: 5px;
}

.card {
    background-color: var(--questBg)!important;
}

#addPro {
    position: relative;
    left: 6.6em;
    font-size: 13px;
}

.heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    box-shadow: 1px 10px 15px -5px #00000008;
}

.container-fluid>.heading {
    position: relative;
    top: 10px;
}

#page-title {
    font-size: 18px;
}