.container-fluid>.heading {
    position: relative;
    top: 10px;
}

span {
    font-size: 11px;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    background-color: var(--dimerBlue);
    outline: none;
    border: 0.15em solid var(--dimBlue);
    font-size: 14px;
    color: var(--mainBlack);
    border-radius: 10px!important;
    padding: 10px;
}

label {
    margin: 0.4em 0em;
    font-size: 14px;
    font-weight: 500;
}

label,
span {
    color: var(--mainBlack);
}