.container-fluid>.heading {
    position: relative;
    top: 10px;
}

.other-uploads {
    height: 4em;
    border: 1px dashed grey;
    position: relative;
    background-color: #F9F9FB;
}

.main-page-or-video {
    height: 12em;
    border: 1px dashed grey;
    position: relative;
    background-color: #F9F9FB;
}

span {
    font-size: 11px;
}

.form-control {
    background-color: #EBF1FA;
    outline: none;
    border: 2px solid#bddafd;
    font-size: 14px;
}

.fm-style {
    height: 44px !important;
}

label {
    margin: 0.4em 0em;
    font-weight: 500;
}

.application-desription {
    width: 97.4%;
}

.title {
    font-size: 1.1em;
    font-weight: 540;
}