ul.navbar-nav {
    list-style: none;
}

.nav-link-container{
    padding: 2% 8% !important;
    transition: background 0.9s ease-in;
}

li>a.nav-link {
    text-decoration: none;
    font-family: var(--poppins)!important;
    margin-left: 5%;
    margin-top: 1.5%;
    font-size: 14px;
    white-space: nowrap;
    color: var(--adminLinksColor) !important;
    transition: font-weight 0.1s ease-in;
}

.sidebar {
    height: 98.6vh;
    border-radius: 5px;
    font-family: "poppins";
    background-color: var(--contBgLight);
    float: left;
    margin: 5px !important;
    padding: 1.5% 2% 4.5% 0.5%;
    width: 18%;
    position: fixed;
}

.active {
    background: linear-gradient(to right, rgb(189, 226, 240) , rgb(245, 246, 247));;
    border-left: 3px solid rgb(56, 98, 236);
    fill: blue!important
}

.active>li>a {
    color: #2e7bf0 !important;
    font-weight: bold;
}

.active>li>svg>path:nth-child(2) {
    fill: #4286ED;
}

path:nth-child(2) {
    fill: var(--mainBlack);
}

.nav-link {
    color: var(--mainBlack);
    font-size: 10px;
    font-weight: 500;
    padding: 0 !important;
}

svg {
    height: 25px!important;
}

.profile {
    position: relative;
    top: 7em!important;
}

.side-bar-container {
    width:32% !important;
}
.nav-item{
    display: flex;
}
.logo{
    width: 100%;
    margin-bottom: 17.5%;
    margin-top: -3%;
    padding: 0.5% 2% 2.5% 25%;
}
.logo>img{
    width: 75%;
    height: 25%;
}
.sidebar-user-profile{
   display: flex;
   margin: 94% 2% 2% 8% !important;
}
.sidebar-user-profile>img{
    width: 21%;
    margin-right: 6% !important;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}
.profile-information{
    display: flex;
    flex-direction: column;
}
.profile-information>h2{
    font-family: var(--poppins);
    font-weight: bold;
    color: #151829;
    font-size: 15px;
    margin-bottom: -1%;
}
.profile-information>p{
    font-family: var(--poppins);
    color: #151829;
    font-size: 13px;
    font-weight: 700;
    opacity: 62%;
}