<div class="add_resource">
    <h5 class="mb-4">Add Resource</h5>
    <form [formGroup]='resource' class="form" (ngSubmit)="submitRes($event)">
        <div class="qtn_title">
            <label for="qtn_title" class="form-label">Resource title</label> 
            <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--mainBlack)"/>
            </svg> 
            <input type="text" name="title" formControlName="title" id="qtn_title" class="form-control" placeholder="Resource title">
        </div>
        <div class="mt-5 qtn_desc">
            <label for="qtn_desc" class="form-label">Resource description <br>             
            </label>
            <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--mainBlack)"/>
            </svg>  
            <input type="text" id="desc" class="form-control" formControlName="desc" placeholder="Resource description here">
        </div>
        <div class="mt-5 qtn">
            <label for="resKind" class="form-label">Select resource kind</label>
            <select name="resourceKind" formControlName="resourceKind" id="resKind" class="form-select">
                <option value="YouTube video" selected>YouTube video</option>
                <option value="CodeAma article">CodeAma article</option>
                <option value="Book">Book</option>
                <option value="Website">Website</option>
            </select>
        </div>
        <div class="mt-5 resLink">
            <label for="res_link" class="form-label">Resource link</label>
            <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--mainBlack)"/>
            </svg>  
            <input type="text" name="resourceLink" formControlName="resourceLink" id="res_link" class="form-control" placeholder="Add full resource link...">
        </div>
        <button type="submit" class="btn btn-primary mt-5 w-25 pt-2 pb-2">Post your resource now</button>
    </form>
</div>