.badge {
  margin-right: 1.5em;
  width: 11.2em;
}

.badge-1 {
  border: 1px solid #0d6efd;
  background-color: #e1ebfb;
}

.badge-2 {
  border: 1px solid #ffc107;
  background-color: #f5f6e7;
}

.badge-3 {
  border: 1px solid #dc3545;
  background-color: #f5e4ed;
  margin-right: 0!important;
}

.badge-0 {
  border: 1px solid #198754;
  background-color: #e1ebfb;
}
