<div class="container-fluid">
    <div class="row">
        <div class="mt-2 rounded py-1 px-3">
            <p class="tx-top pt-1">Top Ask Me Anything members</p>
            <hr>
            <div class="person">
                <div class="row">
                    <div class="profile position-relative col-1 px-3">
                        <a routerLink="profile">
                            <img [src]="user.codeama.profilePicture" alt="profile">
                            <p class="rounded position-absolute text-white px-2 {{user.codeama.Badge}}"><a href="#" class="text-white">{{user.codeama.Badge}}</a></p>
                        </a>
                    </div>

                    <div class="about col-6">
                        <h5>{{user.codeama.Username}}</h5>
                        <span>{{user.codeama.Username}}.codeama.net</span>
                        <div class="row pt-2">
                            <div class="col">
                                <p> <span class="cl-silver">Best challenger on </span><span class="fw">{{user.createdAt | date:
                    'longDate'}}</span>
                                </p>
                            </div>
                            <div class="col-5">
                                <p><span>Vue Set 3</span><span class="cl-silver"> latest article</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="status col-4 row">
                        <p class="col"><span>45</span><span class="cl-silver"> of </span>
                            <span *ngFor="let nbr of asked"><span *ngIf="nbr.userId == user.codeama._id">{{nbr.question}}</span></span>
                            <span class="cl-silver"> answered</span>
                        </p>
                        <p class="col"><span>{{user.codeama.Following.length}} + </span><span class="cl-silver">followers</span></p>
                    </div>
                    <div class="follow col-1 justify-content-center p-2">
                        <!-- <button *ngIf="user.codeama._id == userId; else checkFollow" class="btn-primary btn" type="button" disabled>+ follow</button>-->
                        <button *ngIf="following" class="btn-primary btn" type="button" (click)="removeFollower(user.codeama._id)">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="!loading"> Unfollow</span>
                        </button>
                        <button *ngIf="!following" class="btn-primary btn" type="button" (click)="addFollower(user.codeama._id)">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="!loading"> Follow</span>
                        </button>
                    </div>
                    <ng-template #Follow>
                    </ng-template>
                </div>
                <div class="row mt-2">
                    <div class="ama-footer col-10">
                        <ul class="skills cl-silver">
                            <li *ngFor="let skill of user.codeama.Skills">{{skill}}</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="askToAma">
                <p>Asking a question to <span>{{user.codeama.Username}}</span></p>
                <form #f="ngForm" (ngSubmit)="askama(f)" class="row px-2 pt-1 cotainer-fluid" ngNativeValidate>
                    <div class="col-8 m-b">
                        <div *ngIf="result" class="alert alert-success w-50 text-center fs-6 h-5" role="alert">
                            Question asked successfully</div>
                        <input ngModel name="userId" #userId="ngModel" type="text" [(ngModel)]="user.codeama._id" hidden required>
                        <input ngModel type="text" name="title" #title="ngModel" placeholder="title of your question" class="border-blue p-2 col " required>
                        <textarea ngModel name="description" #description="ngModel" id="ask" cols="120" rows="7" placeholder="Your question descriptions ..." class="border-blue p-2 col " required></textarea>
                        <div class="col-11">
                            <ngx-codemirror class="col-lg-10" #codemirror="ngModel" [options]="codeMirrorOptions" ngModel name="codemirror">
                            </ngx-codemirror>
                        </div>
                    </div>
                    <div class="col-3">
                        <p>Question actions</p>
                        <div class="action mx-auto">
                            <p>
                                <button class="btn btn-primary" type="submit">
                                <span *ngIf="asking" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span *ngIf="!asking"> Ask question now</span>
                                </button>
                            </p>
                            <p><button class="btn btn-dark" type="button" (click)="schedule()">Schedule asking time</button></p>
                        </div>

                    </div>
                </form>

                <p>Recent asked question to {{user.codeama.Username}}</p>
            </div>


            <div class="row question-status mx-auto bg-brur-blue py-5">
                <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span class="fw-bold"> 5</span>
            <br> Views</a></div>
                <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span
              class="fw-bold">Yes</span><br> Answered </a></div>
                <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span class="fw-bold">5</span> <br>
            Comments</a></div>
                <div class="col-6 px-4">
                    <p>React app what is the best way to add large text books</p>
                    <ul class="skills cl-silver">
                        <li>React</li>
                        <li>Vue router</li>
                        <li>Node js</li>
                        <li>Express</li>
                        <li>Go lang</li>
                    </ul>
                </div>
                <div class="col-2"><a routerLink="seeQuestion">See question</a></div>
            </div>
        </div>


    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>