<div class="container-fluid">
  <div class="row">
    <div class="mt-2 rounded py-1 px-3">
      <p class="tx-top pt-1">Top Ask Me Anything members</p>
      <hr>
      <div class="person1">
        <div class="row">
          <div class="profile position-relative col-1 px-3">
            <a routerLink="profile">
              <img src="../../../assets/images/profile.jpg" alt="profile" class="rounded-circle w-100 mx-3">
              <p class="rounded position-absolute text-white px-2 pro"><a href="#" class="text-white">pro</a></p>
            </a>
          </div>

          <div class="about col-6">
            <h5>Abijuru seth</h5>
            <span>abiseth.codeama.net</span>
            <div class="row pt-2">
              <div class="col">
                <p> <span class="cl-silver">Best challenger on </span><span class="fw">12 th, January, 2021</span></p>
              </div>
              <div class="col-5">
                <p><span>Vue Set 3</span><span class="cl-silver"> latest article</span></p>
              </div>
            </div>
          </div>

          <div class="status col-4 row">
            <p class="col"><span>45</span><span class="cl-silver"> of </span><span>104</span><span class="cl-silver">
                answered</span></p>
            <p class="col"><span>27, 923 + </span><span class="cl-silver">followers</span></p>
          </div>

          <div class="follow col-1 justify-content-center p-2">
            <button class="btn-primary btn"> + Follow</button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="ama-footer col-10">
            <ul class="skills cl-silver">
              <li>React</li>
              <li>Vue router</li>
              <li>Node js</li>
              <li>Express</li>
              <li>Go lang</li>
            </ul>
          </div>
          <div class="ama-askQuestion col-2">
            <!-- <a class="fw-bold text-right size-12" routerLink="askQuestion">Ask question</a> -->
          </div>
        </div>
        <div>
          <div class="line"></div>
        </div>
      </div>
      <div class="askToAma">
        <p>Asking a question to <span>Abijuru Seth</span></p>
        <form action="POST" class="row p-3">
          <textarea name="askQuestion" id="ask" cols="120" rows="7" placeholder="Ask question here..."
            class="border-blue p-3 col"></textarea>
          <div class="col-3 px-4">
            <p>Question actions</p>
            <div class="action mx-auto">
              <p><button class="btn btn-primary">Ask question now</button></p>
              <p><button class="btn btn-dark">Schedule asking time</button></p>
            </div>
          </div>
        </form>
        <p>Recent asked question to Abijuru Seth</p>
      </div>
      <div class="row question-status mx-auto bg-brur-blue py-5">
        <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span class="fw-bold"> 5</span>
            <br> Views</a></div>
        <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span
              class="fw-bold">Yes</span><br> Answered </a></div>
        <div class="col-1 p-2 ms-2 border text-center"><a class="text-dark" href="#"><span class="fw-bold">5</span> <br>
            Comments</a></div>
        <div class="col-6 px-4">
          <p>React app what is the best way to add large text books</p>
          <ul class="skills">
            <li>React</li>
            <li>Vue router</li>
            <li>Node js</li>
            <li>Express</li>
            <li>Go lang</li>
          </ul>
        </div>
        <div class="col-2"><a routerLink="seeQuestion">See question</a></div>
      </div>
    </div>


  </div>
</div>
