
<p *ngIf="noArticlesStatus" style="text-align: center; margin-top: 3.5em; opacity: 0.6; font-size: 0.8;">Oops! You haven't written any article yet!</p>
<p *ngIf="loadingData" style="text-align: center; margin: auto; margin-top: 3.5em; opacity: 0.6; font-size: 0.8; display: flex; align-items: center;">
    <span style="margin-right: 0.8em;" class="spinner-border spinner-border-sm mr-1"></span>
   Loading . . .
</p>
<div class="articlesDetails" *ngFor="let article of articles">
    <div>
        <div class="article_details_container">
      
            <div class="article_details">
                <h5 (click)="seeArticle(article._id)"><strong>{{article.title}}</strong></h5>
                <p (click)="seeArticle(article._id)">{{article.description}}</p>
            </div>
            <p id="dev_username">{{Username}}.codeama.dev</p>
            <div class="article_views">
                <div>                    
                    <span style="font-size: 0.82em">{{article.likes.length}} likes</span>
                </div> 
    
                <div style="margin-left: 1em;">
                    <sapn style="font-size: 0.82em">{{article.comments.length}} comments</sapn>
                </div>
            </div>
        </div>
        <div class="article_image" style="width: 35%; text-align: center;">
            <img src="{{article.thumbnailUrl}}" alt="article image" style="max-width: 90%; height: auto; border-radius: 5px;">
        </div>
    </div>
</div>
