<div class="container-fluid d-flex flex-column p-4 rounded h-100">
    <div class="upper d-flex justify-content-between" style="height: 85%">
        <div class="left" style="width: 45%">
            <h2 class="title">Challenge your skill</h2>
            <div class="d-flex justify-content-between w-100 mt-2">
                <span><span class="text-muted" style="font-size: 0.9em">challenge set on </span><span class="fw-bolder">
                        {{challenge.createdAt | date: 'longDate'}}</span></span>
                <span><span class="fw-bolder"> {{getParticipantCount()}}+ </span><span class="text-muted" style="font-size: 0.9em">taking
                        the
                        challenge</span></span>
            </div>
            <img [src]="challenge.picture.file" alt="challenge" class="w-100 mt-2" />
            <p class="description text-muted mt-2" style="font-size: 1em">
               {{challenge.description}}
            </p>
            <div>{{challenge.postedBy.email}}</div>
        </div>
        <div class="right" style="width: 48%">
            <h4 class="mt-4">challenge tips</h4>
            <div class="d-flex justify-space-evenly w-full">
                <app-badge *ngFor="let prize of challenge.prizes; let i= index" [prize]="prize" [prizeIndex]="i"></app-badge>
                <!-- <app-badge [outline]="warning" [background]="warn"></app-badge>
                <app-badge [outline]="danger" [background]="dan"></app-badge>
                <app-badge [outline]="success" [background]="succ"></app-badge> -->
            </div>
            <div class="main-container">
                <div class="first-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">Start Date</div>
                            <div>{{challenge.createdAt | date: 'longDate'}}</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">Application End Date</div>
                            <div>{{challenge.applicationEndDate | date: 'longDate'}}</div>
                        </div>
                    </div>
                </div>
                <div class="second-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">Submission End Date</div>
                            <div>{{challenge.endDate | date: 'longDate'}}</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">Announce Winners Date</div>
                            <div>{{challenge.announceWinnersDate | date: 'longDate'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apply">
                <p>application to the challenge</p>
                <button [routerLink]="['/app/challenge-taker-board', challenge._id]" class="btn btn-primary btn-lg">Take challenge now</button>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <p>comment on the challenge</p>
        <div class="comment">
            <img src="../../../assets/images/add-circle-line@2x.png" alt="add" class="add-icon" />
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="comment here...."></textarea>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8) " size="default " type="ball-rotate">
    <p style="color: white ">Please Wait. </p>
</ngx-spinner>