* {
  font-family: "Poppins", sans-serif;
}

.bg-whiteblue {
  background-color: #f8f9fa;
}

.pr {
  display: flex;
  width: 85%;
}

.next {
  width: 3px;
  height: 2em;
  background: dodgerblue;
  align-self: center;
}

.symbols {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.aside-content-first {
  font-weight: bold;
}

.aside-content > div:not(.aside-content-first) {
  font-size: 0.8em;
  color: #1e253d;
  /* opacity: .1; */
}

.apply {
  margin-top: 2em;
}

.apply > p {
  font-size: 0.8em;
  color: #1e253d;
  /* opacity: .1; */
}

.apply > button {
  font-size: 0.8em;
}

.comment {
  display: flex;
  background-color: #ebf1fa;
  width: 60%;
  justify-content: space-around;
  border-radius: 8px;
  height: 2.5em;
}

.add-icon {
  width: 1em;
  height: 1em;
  align-self: center;
}

textarea {
  border: none;
  background: inherit;
  width: 90%;
  height: 50%;
  align-self: center;
}
