<div class="bg-whiteblue d-flex flex-column p-4 rounded h-100">
    <div class="upper d-flex h-75 justify-content-between">
        <div class="left" style="width: 40%;">
            <h2>challenge your skill</h2>
            <div class="d-flex justify-content-between w-100"> 
                <span class="text-secondary"><span class="text-secondary">challenge set on </span><span class="fw-bolder"> 12th,january,2021</span></span>
                <span><span class="fw-bolder"> 27923+ </span><span class="text-secondary">taking the challenge</span></span>    
            </div>
            <img src="../../assets/images/challenge.PNG" alt="challenge" class="w-100">
            <p>Hi everybody 🤘 I'm Charlie, a french JS developer 🇫🇷 I just release a free and open source project, tail-kit. It's a kit of components and template
                abi_seth85270.codeama.dev
            </p>
        </div>  
        <div class="right" style="width: 50%;">
            <h4>challenge tips</h4>
            <div class="d-flex justify-content-between">
                <app-badge></app-badge>
                <app-badge></app-badge>
                <app-badge></app-badge>
                <app-badge></app-badge>
            </div>
            <div class="main-container">
                <div class="first-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                            <div class="next"></div>
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                            <div class="next"></div>
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                </div>
                <div class="second-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                            <div class="next"></div>
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                            <div class="next"></div>
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width:2em">
                        </div>
                       
                        <div class="aside-content">
                            <div>post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p>application to the challenge</p>
                <button class="btn btn-primary">Take challenge now</button>
            </div>
        </div>
    </div>
    <div>comment here</div>
    <div class="comments"  class="d-flex border border-primary rounded align-items-center">    
        <div class="d-flex w-75">
            <img src="../../../assets/images/add-circle-line@2x.png" alt="add circle" style="width: 1.3em; height: 1.3em;">
        <textarea name="comment" class="h-75 w-100"  style="vertical-align: middle; outline: none; border: none; background-color: #EBF1FA; width: 90%;" id="comment" placeholder="comment here"></textarea>
        </div>
    </div>
</div>