<div class="container-fluid d-flex flex-column p-4 rounded h-100">
    <div class="upper d-flex justify-content-between" style="height: 85%">
        <div class="left" style="width: 45%">
            <h2>challenge your skill</h2>
            <div class="d-flex justify-content-between w-100 mt-2">
                <span><span class="text-muted" style="font-size: 0.9em">challenge set on </span><span class="fw-bolder">
                        12th,january,2021</span></span>
                <span><span class="fw-bolder"> 27923+ </span><span class="text-muted" style="font-size: 0.9em">taking
                        the
                        challenge</span></span>
            </div>
            <img src="../../assets/images/challenge.PNG" alt="challenge" class="w-100 mt-2" />
            <p class="text-muted mt-2" style="font-size: 1em">
                Hi everybody 🤘 I'm Charlie, a french JS developer 🇫🇷 I just release a free and open source project, tail-kit. It's a kit of components and template
            </p>
            <div>abi_seth85270.codeama.dev</div>
        </div>
        <div class="right" style="width: 48%">
            <h4 class="mt-4">challenge tips</h4>
            <div class="d-flex justify-content-between">
                <app-badge [outline]="primary" [background]="prime"></app-badge>
                <app-badge [outline]="warning" [background]="warn"></app-badge>
                <app-badge [outline]="danger" [background]="dan"></app-badge>
                <app-badge [outline]="success" [background]="succ"></app-badge>
            </div>
            <div class="main-container">
                <div class="first-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                </div>
                <div class="second-side w-50">
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                            <div class="next"></div>
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                    <div class="pr">
                        <div class="symbols">
                            <img src="../../assets/images/checkbox_circle_line.svg" alt="checkbox" style="width: 2em" />
                        </div>

                        <div class="aside-content">
                            <div class="aside-content-first">post challenge</div>
                            <div>12th febuary 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apply">
                <p>application to the challenge</p>
                <button class="btn btn-primary btn-lg">Take challenge now</button>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <p>comment on the challenge</p>
        <div class="comment">
            <img src="../../../assets/images/add-circle-line@2x.png" alt="add" class="add-icon" />
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="comment here...."></textarea>
        </div>
    </div>
</div>