$bg_color: var(--contBgLight);
.add_question {
    color: var(--mainBlack);
    border-radius: 7px;
    background: $bg_color;
    height: 88%;
    padding: 20px 20px;
    margin: 10px;

    div {
        position: relative;
        svg {
            position: absolute;
            left: 15px
        }
        &.qtn {
            svg {
                top: 73px;
            }
            textarea{
                padding-left: 45px;
            }
        }
        &.qtn_desc {
            svg {
                top: 66px;
            }
            input {
                padding-left: 40px;
            }
        }
    }

    h5 {
        font-size: 1.25em;
    }

    label{

        font-weight: 500;
        span {
            font-size: .8em;
        }
    }

    input, textarea, #select{
        background: rgba(66, 144, 237,.05);
        font-weight: 500;
        color: var(--mainBlack);
        font-size: .9em;
        border: 2px solid #66a5f045;
        border-radius: 8px!important;   

        &:focus {
            border-color: #558ed3;
        }
        &::placeholder {
            font-weight: normal;
            // color: rgba(0, 0, 0, 0.623);
        }
    }
    #select {
        height: 40px !important;
        display: flex;
        align-items: center;
        padding-left: 15px !important;
    }

    span.e-delim-view.e-delim-values {
        -webkit-text-fill-color: var(--mainBlack);
    }

    .e-multiselect .e-delim-values {
        margin: 0 !important;
        padding: 0;
        border: unset !important;
    }
    .e-multiselect.e-input-group.e-control-wrapper {
        margin: 0 !important;
        padding: 0;
        border: unset !important;
    }
    .e-dropdownbase, input.e-dropdownbase::placeholder{
        // visibility: hidden;
        border: none;
        color: initial;
        font-size: 1.07em;
        font-family: "Poppins";
        font-weight: 400;
        padding-top: 2px !important;
        color: #8e8e8e;
    }
    .e-chips-close.e-close-hooker {
        top: 33px;
    }
    .e-multiselect.e-input-group.e-control-wrapper.e-input-focus::before, .e-multiselect.e-input-group.e-control-wrapper.e-input-focus::after {
        background: none;
        display: none;
    }
    .e-multiselect .e-multi-select-wrapper .e-chips .e-chipcontent {
        -webkit-text-fill-color: white;
    }

    .e-multi-select-wrapper .e-chips {
        background-color: dodgerblue;
        height: 28px;
        border-radius: 7px;
        margin: 5px;
    }
    .e-multiselect.e-input-group .e-multi-select-wrapper {
        margin: none;
        padding: none;
    }
}