<div class="side-bar-container">
    <nav class="sidebar col-lg-6 bg-light">
        <ul class="navbar-nav pt-2">
            <div class="nav-link-container" routerLinkActive="active" routerLink="/hood">
                <li class="nav-item" routerLink="/hood">
                    <a class="nav-link" routerLink="/hood">Hood</a>
                </li>
            </div>
            <div class="nav-link-container" routerLinkActive="active" routerLink="/aboutUs">
                <li class="nav-item" routerLink="/aboutUs">
                    <a class="nav-link" routerLink="/aboutUs">About us</a>
                </li>
            </div>
            <div class="nav-link-container" routerLinkActive="active" routerLink="/challenges">
                <li class="nav-item" routerLink="/challenges">
                    <a class="nav-link" routerLink="/challenges">Challenges</a>
                </li>
            </div>
            <div class="nav-link-container" routerLinkActive="active" routerLink="/codeAmas">
                <li class="nav-item" routerLink="/codeAmas">
                    <a class="nav-link" routerLink="/codeAmas">Amas</a>
                </li>
            </div>
            <div class="nav-link-container" routerLinkActive="active" routerLink="support">
                <li class="nav-item" routerLink="/support">
                    <a class="nav-link" routerLink="/support">Support</a>
                </li>
            </div>
            <div class="nav-link-container" routerLinkActive="active" routerLink="/notifications">
                <li class="nav-item" routerLink="/notifications">
                    <a class="nav-link" routerLink="/notifications">Notifications</a>
                </li>
            </div>

            <div class="nav-link-container" routerLinkActive="active" routerLink="/profile">
                <li class=" nav-item" routerLink="/profile">
                    <a class="nav-link" routerLink="/profile">Profile</a>
                </li>
            </div>
        </ul>
    </nav>
</div>