<div class="side-bar-container">
    <nav class="sidebar ml-2 col-lg-2 bg-light">
        <ul class="navbar-nav pt-2">

            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/hood">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/hood">Hood</a>
                </li>
            </div>
            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/aboutUs">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/aboutUs">Hood</a>
                </li>
            </div>
            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/challenges">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/challenges">Challenges</a>
                </li>
            </div>
            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/codeAmas">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/codeAmas">AMAS</a>
                </li>
            </div>
            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/support">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/support">Support</a>
                </li>
            </div>
            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/notifictions">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/notifictions">Notifications</a>
                </li>
            </div>

            <div class="nav-link-container">
                <li class="nav-item" routerLinkActive="active text-white" routerLink="/profile">
                    <a class="nav-link" routerLinkActive="active text-white" routerLink="/profile">Profile</a>
                </li>
            </div>
        </ul>
    </nav>
</div>