<div id="entire_support_page">
    <div class="support_header">
        <h2>FREQUENTLY ASKED QUESTION</h2>
        <p>Welcome to codeama FAQ get a question related to what you want to know. <br> You can contact our team.</p>
    </div>
    <div class="support_content">
        <div class="question_group">
            <h3>1. WHY CODEAMA</h3>
            <div class="question">
                <div class="question_header">
                    <h5>Q1: What is Codeama about?</h5>
                </div>
                <div class="question_body">
                    <p> Codeama is simply an online platform with <strong> millions of programmers</strong> all over the world willing to freely help people joining the coding / programing experience <br> and journey to make it simple.</p>
                </div>
            </div>  
            <div class="question">
                <div class="question_header">
                    <h5>Q2: Why should a choose Codeama?</h5>
                </div>
                <div class="question_body">
                    <p>Codeama has provide specific categories for each programming daily activities to make it easy for beginners to access what they want qucikly.</p>
                </div>
            </div>
            <div class="question">
                <div class="question_header">
                    <h5>Q3: Should I trust Codeama?</h5>
                </div>
                <div class="question_body">
                    <p>Absolutely, yes and this is because Codeama have got a big code community ready to help beginners for free and provide all necessary resources <br> for beginners at any time.</p>
                </div>
            </div>
        </div>
        <div class="question_group">
            <h3>2. USAGE RELATED</h3>
            <div class="question">
                <div class="question_header">
                    <h5>Q1: Why would I use face recognition?</h5>
                </div>
                <div class="question_body">
                    <p>Unlike other identification solutions such as passwords, verification by email, selfies or images, or fingerprint identification, Biometric facial recognition uses  <br> unique mathematical and dynamic 
                    patterns that make this system one of the safest and most effective ones.</p>
                </div>
            </div>  
            <div class="question">
                <div class="question_header">
                    <h5>Q2: Am I promised security by using safe recognition?</h5>
                </div>
                <div class="question_body">
                    <p>You data is stored with great care and security by the codeama development community.</p>
                </div>
            </div>
            <div class="question">
                <div class="question_header">
                    <h5>Q3: Should I trust Codeama?</h5>
                </div>
                <div class="question_body">
                    <p>Absolutely, yes and this is because Codeama have got a big code community ready to help beginners for free and provide all necessary resources for beginners at any time.</p>
                </div>
            </div>
        </div> 
        <div class="question_group">
            <h3>3. VERIFIED CODEAMA</h3>
            <div class="question">
                <div class="question_header">
                    <h5>Q1: Who is a Codeama?</h5>
                </div>
                <div class="question_body">
                    <p>A Codeama is a verified user that has a certain qalities that have been considered to allow him or her that badge and is <br>
                        mainly for allowing him to be accessed by the community to ask him questions and can be trusted in any way.
                        <br> <strong>AMA</strong> means <code><strong>Ask Me Anything.</strong></code></p>
                </div>
            </div>  
            <div class="question">
                <div class="question_header">
                    <h5>Q2: What are the steps and criteria of becoming a codeama?</h5>
                </div>
                <div class="question_body">
                    <p>First you click the application button on the codeama page and our alogrithm will check whether you meet the qualifications needed to <br> 
                        be admitted as a codeama and if yes you will be notified and from then you can be asked by any one world privately.</p>
                </div>
            </div>
            
        </div>
        <div class="question_group">
            <h3>4. ACCOUNT SETTINGS</h3>
            <div class="question">
                <div class="question_header">
                    <h5>Q1: How do I deactivate my account?</h5>
                </div>
                <div class="question_body">
                    <p>There’is not such option:joy:
                    </p>
                </div>
            </div>  
           
        </div>  
        <div class="question_group">
            <h3>5. HOW TO?</h3>
            <div class="question">
                <div class="question_header">
                    <h5>Q1: How do I create an article?</h5>
                </div>
                <div class="question_body">
                    <p>I am having trouble Uploading my files:
                        For Images we only allow the following format: jpeg, jpg, png
                        For Videos we only allow a 30 second video of the following format: .mp4
                    </p>
                </div>
            </div>  
           
        </div>
    </div>
</div>
