<div class="add_article">
    <h6 class="mb-4">Write an article</h6>
    <form [formGroup]='article' class="form" (ngSubmit)="submitArt($event)">
        <div class="row d-flex justify-content-between">
            <div>
                <div class="img_input_container" (click)="mainPageInput.click()">
                    <div class="input" *ngIf="!imgUrl">
                        <svg id="svg" class="ms-1 mt-1" xmlns=" http://www.w3.org/2000/svg" width="64" height="68" viewBox="0 0 64 52">
                            <rect id="Rectangle_195" data-name="Rectangle 195" width="64" height="52" fill="var(--mainBlack)" style="opacity: .2;"/>
                            <path id="Path_183" data-name="Path 183"
                              d="M-1792.988,6745.147H-1753V6710.54s-5.46,17.187-12.612,20.578-10-8.418-16-7.015-11.381,11.224-11.381,11.224Z"
                              transform="translate(1803 -6704.429)" fill="rgba(255,255,255,0.61)" />
                        </svg>
                        <span>Article cover image</span>
                    </div>
                    <img [src]="imgUrl" *ngIf="imgUrl" class="imagefromDb1" alt="article image" style="height: auto; max-width: 90%;">
                    <input type="file" hidden accept=".png,.jpg,.jpeg" name="file" id="mainPageUplopad" (input)="imageChange($event)" #mainPageInput>
                </div>
            </div>
            <div class="col-4">
                <div class="col-12 qtn_title mb-3">
                    <label for="qtn_title" class="form-label m-0 p-0">Article title</label> 
                    <input type="text" name="title" formControlName="title" id="qtn_title" class="form-control" placeholder="Article title">
                </div>
                <div class="col-12 qtn_title">
                    <label for="qtn_link" class="form-label m-0 p-0">Add descriptive link <span style="opacity: .5;">(optionally)</span></label> 
                    <input type="text" name="desc_link" formControlName="desc_link" id="qtn_link" class="form-control" placeholder="descriptive link">
                </div>
            </div>
            <div class="">
                <div class="qtn_desc">
                    <label for="qtn_desc" class="form-label mb-1">Article description <br>             
                        <span>less than 200 words only required</span>
                    </label>
                    <svg id="add-circle-line" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
                        <path id="Path_43" data-name="Path 43" d="M0,0H24V24H0Z" fill="none"/>
                        <path id="Path_44" data-name="Path 44" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--mainBlack)"/>
                    </svg>  
                    <textarea type="text" id="desc" class="form-control form-text" formControlName="desc" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-4 qtn">
            <label for="qtn" class="form-label article-label">Tell your full story into an article
                <br>             
                <span>Dont't worry about number of words and just use these tools aside</span>
            </label>
            <div class="form-group ">
                <angular-editor [(ngModel)]="htmlContent" formControlName="article" [config]="config "></angular-editor>
            </div>
            <!-- <textarea type="text" name="article" formControlName="article" id="qtn" class="form-control form-text" rows="10">...</textarea> -->
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-25 pt-3 pb-3" [disabled]="!article.valid">Post your article now</button>
    </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">  
    <p style="color: white">Please wait... </p>  
</ngx-spinner> 
<notifier-container></notifier-container>