p {
    margin-bottom: 0!important;
}
.main {
    width: 100%;
    height: auto;
    background-color: var(--bgBlue);
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}


.heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    box-shadow: 1px 10px 15px -5px rgba(0,0,0,0.03);

}

.heading p {
    padding-left: 2%;
    max-height: 50%;
}

.all_challenge_takers {
    width: 97%;
    height: 100%;
    margin: 0 auto;
}