<div id="entire_app__welcome_page">
    <div class="entire_welcome__navbar">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="logo">
        </div>
        <div class="sign_options">
            <div class="options_container">
                <a routerLink="../auth">Login</a>
                <a routerLink="../auth/auth/signup" class="create_account">Create account</a>
            </div>   
        </div>
    </div>
    <div class="entire_app__welcome_body">
        <div class="entire_descript__container">
            <div class="content_container">

                <h1>Welcome to your <br>code community CodeAma</h1>
                <p>CodeAma is the best way to connect beginner coders to <br>well experience programmers all over the global.</p>
                
                <a routerLink="../auth/auth/signup" class="get_started">
                    Get started
                    <svg id="arrow-right-line" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25">
                        <path id="Path_9" data-name="Path 9" d="M0,0H25V25H0Z" fill="none"/>
                        <path id="Path_10" data-name="Path 10" d="M16.933,11.436l-5.7-5.709,1.5-1.5L21,12.5l-8.264,8.278-1.5-1.5,5.7-5.709H4V11.436Z" fill="#fff"/>
                    </svg>                  
                </a>
                
                <div class="entire_app_features__container">
                    <h6>Platform features</h6>
                    <div class="feature_content">
                        <div class="feature_column">
                            <p class="col_p_one">Wide community</p>
                            <p class="col_p_one">Ask questions</p>
                            <p class="col_p_one">Post code for debugging</p>
                            <p class="col_p_one">Video live coding</p>
                        </div>
                        <div class="feature_column">
                            <p>Resourceful info</p>
                            <p>Earn prize daily</p>
                            <p>AMA Group</p>
                            <p>Project ideas</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="entire_illustration__container">
            
        
              
        </div>
    </div>
</div>