<div id="entire_app__welcome_page">
    <div (click)="modeChange()" class="dark_mode">
        <svg id="contrast-drop-line" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 45 45">
            <path id="Path_25" data-name="Path 25" d="M0,0H45V45H0Z" fill="none"/>
            <path id="Path_26" data-name="Path 26" d="M22.5,5.833,11.775,15.567a12.885,12.885,0,0,0,0,19.467,16.279,16.279,0,0,0,21.449,0,12.885,12.885,0,0,0,0-19.467Zm0-5.561L36.289,12.787a16.567,16.567,0,0,1,0,25.029,20.93,20.93,0,0,1-27.577,0,16.567,16.567,0,0,1,0-25.029L22.5.272Zm0,34.862V15.469c5.983,0,10.833,4.4,10.833,9.832S28.483,35.134,22.5,35.134Z" transform="translate(0 0)" fill="#ffffff"/>
        </svg>
    </div>
    <div class="entire_welcome__navbar">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="logo">
        </div>
        <div class="sign_options">
            <div class="options_container">
                <a routerLink="../auth">Login</a>
                <a routerLink="../auth/signup" class="create_account">Create account</a>
            </div>
        </div>
    </div>
    <div class="entire_app__welcome_body">
        <div class="entire_descript__container col-mob-12">
            <div class="content_container col-mob-12">

                <h1>Welcome to your <br>code community CodeAma</h1>
                <p>CodeAma is the best way to connect beginner coders to <br>well experience programmers all over the global.</p>

                <a routerLink="../auth/signup" class="get_started">
                    Get started
                    <svg id="arrow-right-line" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25">
                        <path id="Path_9" data-name="Path 9" d="M0,0H25V25H0Z" fill="none"/>
                        <path id="Path_10" data-name="Path 10" d="M16.933,11.436l-5.7-5.709,1.5-1.5L21,12.5l-8.264,8.278-1.5-1.5,5.7-5.709H4V11.436Z" fill="#fff"/>
                    </svg>                  
                </a>

                <div class="entire_app_features__container">
                    <h6>Platform features</h6>
                    <div class="feature_content">
                        <div class="feature_column">
                            <p class="col_p_one">Wide community</p>
                            <p class="col_p_one">Ask questions</p>
                            <p class="col_p_one">Post code for debugging</p>
                            <p class="col_p_one">Video live coding</p>
                        </div>
                        <div class="feature_column">
                            <p>Resourceful info</p>
                            <p>Earn prize daily</p>
                            <p>AMA Group</p>
                            <p>Project ideas</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="entire_illustration__container col-mob-12">

            <div class="illustration">
                <img src="../../assets/images/banner.jpg" alt="">
            </div>
            <div class="illustration_shadow"></div>

        </div>
    </div>
</div>