.cl-silver {
    color: silver;
}

.skills {
    display: inline-flex;
}

.skills>li {
    padding-left: 10px;
    font-size: 13px;
}

.mb-2 {
    margin-bottom: 10px;
}

.size-12 {
    font-size: 15px;
}

.status {
    padding-top: 20px;
}

.ama-askQuestion {
    text-align: end;
    padding: 0 25px;
}

.join {
    margin-left: 5%;
}

.line {
    height: 1px;
    background-color: silver;
    margin-bottom: 10px;
    margin: 0!important;
}

button.btn-primary.btn {
    padding: 5px;
}

a.text-white {
    font-size: 10px;
    text-align: center;
}
a {
    color: white;
    font-size: 12px;
    padding: 5px;
}

.tx-top {
    color: #151829;
}

.ama-askQuestion > a {
    color: #425FED;
}

.profile > a > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

figure {
    margin-right: 20px;
    margin-top: 15px;
}

figure>figcaption {
    font-size: .6em;
    font-weight: 400;
    padding: 1px 5px;
    position: absolute;
    bottom: -18px;
    border: 1px solid;
    margin-bottom: 5px;
    color: white;
}

figure>div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure>div>img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.absBeg {
    background: rgb(190, 30, 46);
    border-color: #BE1E2D;
}

p.beginner {
    background-color: #f7951d;
    margin-left: 20px;
}

p.intermediate {
    background-color: #00A79D;
    margin-left: 10px;
}

p.pro {
    background-color: #4275ED;
    margin-left: 34px;
}

p.admin {
    background-color: #2BB673;
    margin-left: 13px;
}

#page-title {
    font-size: 18px;
}

@media only screen and (max-width: 680px) {
    .person1>.row {
        width: 100%;
        display: inline-flex;
    }
    .profile {
        width: 25%;
    }
    .about>.row {
        display: block;
    }
    .status {
        width: 80%;
        text-align: center;
        margin-left: 10px;
    }
    .ama-askQuestion {
        text-align: center;
    }
    .follow {
        width: 10%;
    }
}

.page-container {
    color: var(--mainBlack);
    border-radius: 7px;
    background: var(--contBgLight);
    padding: 20px;
}