<div class="container-fluid">
  <div class="row">
    <div class="bg-color rounded p-2">

      <p class="tx-top pt-1">Top Ask Me Anything members</p>
      <!-- <p class="px-4">Top Ask Me Anything members</p> -->
      <hr />

      <div *ngFor="let code of codeamaData">
        <div class="person">
          <div class="row">
            <div class="profile position-relative col-1 px-3">
              <a routerLink="profile">
                <img [src]="code.codeama.profilePicture" alt="profile">
                <p class="rounded position-absolute text-white px-2 {{code.codeama.Badge}}"><a href="#" class="text-white">{{code.codeama.Badge}}</a></p>
              </a>
            </div>

            <div class="about col-6">
              <h5>{{code.codeama.Username}}</h5>
              <span>{{code.codeama.Username}}.codeama.net</span>
              <div class="row pt-2">
                <div class="col">
                  <p> <span class="cl-silver">Best challenger on </span><span class="fw">{{code.createdAt | date: 'longDate'}}</span>
                  </p>
                </div>
                <div class="col-5">
                  <p><span>Vue Set 3</span><span class="cl-silver"> latest article</span></p>
                </div>
              </div>
            </div>
            <div class="status col-4 row">
              <p class="col"><span>45</span><span class="cl-silver"> of </span><span>104</span><span class="cl-silver">
                  answered</span></p>
              <p class="col"><span>{{code.codeama.Following.length}} + </span><span class="cl-silver">followers</span></p>
            </div>
            <div class="follow col-1 justify-content-center p-2">
              <button *ngIf = "code.codeama._id == userId; else checkFollow" class="btn-primary btn" type="button" disabled>+ follow</button>  
            </div>
            <ng-template #checkFollow>
              <button *ngIf="code.codeama.Following.includes(userId); else Follow" class="btn-primary btn" type="button" (click)="removeFollower(code.codeama._id)"> Unfollow</button>
            </ng-template>
            <ng-template #Follow> 
                <button class="btn-primary btn" type="button" (click)="addFollower(code.codeama._id)"> follow</button>
            </ng-template>
          </div>
          <div class="row mt-2">
            <div class="ama-footer col-10">
              <ul class="skills cl-silver">
                <li *ngFor="let skill of code.codeama.skills; let i = index" [attr.data-index]="i">{{skill}}</li>
              </ul>
            </div>
            <div class="ama-askQuestion col-2">
              <a class="fw-bold text-right size-12" routerLink="../askquestion" [state] = "{data: code._id}">Ask question</a>
            </div>
          </div>
          <div>
            <div class="line"></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


