<div class="container-fluid">
    <div class="row">
        <div class="bg-color rounded p-2 row">
            <div class="col-10">
                <h6 class="tx-top pt-1">Top Ask Me Anything members</h6>
            </div>
            <div class="col px-2 join">

                <button *ngIf="!found" (click)="joinama()" class="btn pt-1 btn-primary my-auto mx-auto" href="#" role="button">
                     Join Amas 
                    </button>
            </div>

            <div *ngFor="let code of codeamaData">
                <div class="person">
                    <div>
                        <div class="line"></div>
                    </div>
                    <div class="row">
                        <div class="profile position-relative col-1 px-3">
                            <a routerLink="profile">
                                <img [src]="code.codeama.profilePicture" alt="profile">
                                <p class="rounded-pill position-absolute text-white px-2 {{code.codeama.Badge}}"><a href="#" class="text-white">{{code.codeama.Badge}}</a></p>
                            </a>
                        </div>

                        <div class="about col-7">
                            <h5>{{code.codeama.Username}}</h5>
                            <span>{{code.codeama.Username}}.codeama.net</span>
                            <div class="row pt-2">
                                <div class="col-5">
                                    <p> <span class="cl-silver">Best challenger on </span><span class="fw">{{code.createdAt | date:
                      'longDate'}}</span>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p><span>Vue Set 3</span><span class="cl-silver"> latest article</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="status col-3 row">
                            <p class="col-7"><span>45</span><span class="cl-silver"> of </span>
                                <span *ngFor="let nbr of questions"><span *ngIf="nbr.userId == code.codeama._id">{{nbr.question}}</span></span><span class="cl-silver">
                  answered</span></p>
                            <p class="col"><span>{{code.codeama.Following.length}} + </span><span class="cl-silver">followers</span>
                            </p>
                        </div>
                        <div class="follow col-1 justify-content-center p-2">
                            <p *ngIf="code.codeama._id == userId; else checkFollow"></p>
                        </div>
                        <ng-template #checkFollow>
                            <button *ngIf="code.codeama.Following.includes(userId); else Follow" class="btn-primary btn" type="button" (click)="removeFollower(code.codeama._id)"> Unfollow</button>
                        </ng-template>
                        <ng-template #Follow>
                            <button class="btn-primary btn" type="button" (click)="addFollower(code.codeama._id)"> Follow</button>
                        </ng-template>
                    </div>
                    <div class="row">
                        <div class="ama-footer col-10">
                            <ul class="skills cl-silver">
                                <li *ngFor="let skill of code.codeama.Skills">{{skill}}</li>
                            </ul>
                        </div>
                        <div class=" ama-askQuestion col-2 ">
                            <a *ngIf="code.codeama._id != userId;" class="fw-bold text-right size-12 " routerLink="../askquestion" [state]="{data: code._id} ">Ask
                question</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>