<div id="entire_app__login_form">
    <div (click)="modeChange()" class="dark_mode">
        <svg id="contrast-drop-line" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 45 45">
            <path id="Path_25" data-name="Path 25" d="M0,0H45V45H0Z" fill="none"/>
            <path id="Path_26" data-name="Path 26" d="M22.5,5.833,11.775,15.567a12.885,12.885,0,0,0,0,19.467,16.279,16.279,0,0,0,21.449,0,12.885,12.885,0,0,0,0-19.467Zm0-5.561L36.289,12.787a16.567,16.567,0,0,1,0,25.029,20.93,20.93,0,0,1-27.577,0,16.567,16.567,0,0,1,0-25.029L22.5.272Zm0,34.862V15.469c5.983,0,10.833,4.4,10.833,9.832S28.483,35.134,22.5,35.134Z" transform="translate(0 0)" fill="#ffffff"/>
        </svg>          
    </div>
    <div class="form_body_container">
        <div class="login_form">
            <router-outlet></router-outlet>
        </div>
        <div class="change_means">
            <div class="login_means_container">
                <h3>Login possibilities</h3>
                <p>Hello! Welcome to CodeAma the most advisable platform to get started with coding and programming at large.</p>
                <div class="option_navigation">
                    <ul>
                        <div class="row_menu">
                            <p class="p1">Form registration signup</p>
                            <li>
                                <a routerLinkActive = "active" [routerLink]="['form']" class="img1">
                                    <img src="../../../assets/images/form.png" alt="">
                                </a>
                            </li>
                        </div>
                        
                        <div class="row_menu">
                            <p class="p2">Face recognition signup</p>
                            <li>
                                <a routerLinkActive = "active" [routerLink]="['face']" class="img2">
                                    <img src="../../../assets/images/face.png" alt="">
                                </a>
                            </li>
                        </div>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">  
    <p style="color: white">Please Wait... </p>  
</ngx-spinner> 