<div class="container-fluid">
    <div class="left-side-components">
        <div class="upper-component d-flex">
            <div class="user-profile">
                <div class="user-profile d-flex">
                    <div class="avatar">
                        <img class="profile-avatar" src="'../../../../../../assets/images/face.png" alt="profile">
                        <div class="badge"></div>
                    </div>
                    <div class=" ms-3 mt-2 user-name-and-date">
                        <div class="d-flex">
                            <a>Gasaro Leila</a>
                        </div>
                        <div class="caption">
                            gasaro.codeama.net
                        </div>
                    </div>
                </div>
            </div>
            <div class="asking-time">
                <p>Question asked on</p><strong>25 <sup>th</sup>, June, 2021</strong>
            </div>
            <div class="questioner">
                <strong>Seth</strong>
                <span>is still waiting your help !</span>
            </div>
        </div>
        <div class="question-deatails">
            <div class="question-title">
                <h6 id="question-title">
                    cloning laravel project from github
                </h6>
            </div>
            <div class="question-description">
                <p id="question-description">I'm new to GitHub and I found this site very useful for a lot of us. I came upon storing my Laravel project here in GitHub, but there's a problem every time I will clone it to be able to go to production, when I'm about to clone it at
                    first, it always shows this error.</p>
            </div>
            <div class="question-codes">
                write a custom command to clone and composer update simultaneously. I think. – Vishal Sharma Jul 27 '16 at 1:55 3 You can commit the vendor directory but that would defeat the purpose of composer. Using composer install should be a standard after cloning
                a PHP project. – Devon Jul 27 '16 at 2:06 1 Not composer update but composer install. As Vishal Sh hinted, you will have to write a shell script that can actually clone and run composer install sequentially. A simple and well protected
                bash script will do the trick. – Chibueze Opata Jul 27 '16 at 21:18 how's that? i'll write a shell script and i'll place it inside my project directory???? then it will fires automatically whenever i clone my project? – SMPLYJR Oct 7 '16
                at 0:39
            </div>
        </div>
    </div>
    <div class="right-side-component">
        <p>Question status to date</p>
        <div class="comments qn-status">
            <h6 class="text-center">5</h6>
            <p class="text-center">comments</p>
        </div>
        <div class="status qn-status">
            <h6 class="text-center">Not</h6>
            <p class="text-center">Answered</p>
        </div>
        <div class="viewers qn-status">
            <h6 class="text-center">5</h6>
            <p class="text-center">Viewes</p>
        </div>
    </div>
    <div class="likes d-flex">
        <div class="like-svg">

        </div>
        <div class="some-likers">

        </div>
    </div>
    <div class="comments-section">
        <form action="#" class="form" method=" post ">
            <div class="form-group">
                <label for="">Provide your answer</label>
                <textarea class="form-control" name="" id="" rows="3"></textarea>
            </div>
            <button name="answe-btn" type="submit" id="answer btn" class="btn btn-primary " role="button ">Answer
        this</button>
        </form>
        <div class="recent-commenters">
            <div class="commenter">
                <div class="user-profile">
                    <div class="user-profile d-flex">
                        <div class="avatar">
                            <img class="profile-avatar" src="'../../../../../../assets/images/face.png" alt="profile">
                            <div class="badge"></div>
                        </div>
                        <div class=" ms-3 mt-2 user-name-and-date">
                            <div class="d-flex">
                                <a>Gasaro Leila</a>
                            </div>
                            <div class="caption">
                                gasaro.codeama.net
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-content">
                        <p>so that every time I clone it, I will go to production without encountering this error? Thanks, by the way, I'm using tortoisegit to clone, pull and push.</p>
                    </div>
                    <div class="like-reply">
                        <div class="like-svg"></div>
                        <div class="dislike-svg"></div>
                        <div class="reply">
                            <p>Reply</p>
                        </div>
                    </div>
                    <div class="reply-text-area">
                        <div class="form-group">
                            <div class="user-profile-avatar"></div>
                            <textarea class="form-control" name="reply" id="reply" rows="3" placeholder="write your reply and press Enter"></textarea>
                        </div>
                    </div>
                    <div class="replies">
                        <div class="reply">
                            <p>We have replied</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>