.profile-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-username {
    font-size: 12px;
    color: gray;
}

#posting-date {
    color: grey;
    font-size: 12px;
}

.likes {
    width: fit-content;
}

.likesNumber,
.commentsNumber {
    position: relative;
    left: 10px;
}

#date {
    font-size: 12px;
}

.description {
    font-size: 14px!important;
}

.q-heading {
    font-size: 18px;
    font-weight: 700;
    color: rgb(14, 15, 34);
}

.caption>p {
    font-size: 15px;
    color: grey;
}

.heading {
    font-size: 15px;
}

.technologies>img {
    height: 50px;
}