<div class="container-fluid">
    <div class="user-profile d-flex">
        <div class="avatar">
            <img src="" alt="">
            <div class="badge"></div>
        </div>
        <div class="user-name-and-date">
            <h6>ABIJURU Seth @abi_seth</h6>
            <!-- <h6>{{user.username}}</h6> -->
            <p>Jan 22,2021</p>
            <!-- <p>question.posting-date</p> -->
        </div>
    </div>
    <div class="question-info d-flex">
        <div class="question-details">
            <div class="question-title">
                <h5>How do I do routing in laravel 8</h5>
                <!-- <h5>{{question.title}}</h5> -->
            </div>
            <div class="question-description">
                <!-- <p>{{question.text}}</p> -->
                <p>Hi everybody 🤘 I'm Charlie, a french JS developer 🇫🇷 I just release a free and open source project, tail-kit. It's a kit of components and template…
                </p>
            </div>
        </div>
        <div class="tagges-technologies">
            <div class="heading">Tagged Technologies</div>
            <div class="technologies d-flex">
                <img src="" alt="tagged techs">
                <img src="" alt="tagged techs">
                <img src="" alt="tagged techs">
            </div>
        </div>
    </div>
    <div class="caption">
        <!-- <p>{{question.userCaption}}</p> -->
        <p>abi_seth5454.codeama.dev</p>
    </div>
    <div class="comments-and-likes d-flex">
        <div class="likes"></div>
        <div class="commments"></div>
    </div>
    <hr>
</div>