<div id="entire_app__outlet">
    <div class="sidebar_container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="entire_app_page_body">
        <div class="logo_search__container d-flex justify-content-between">
            <img src="assets/images/logo.png" alt="">
            <div class="d-inline-block">
                <input type="text" class="" placeholder="Search at codeama...">
            </div>
        </div>
        <div class="body_content_container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>