#entire_app__outlet {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: red;
}

.sidebar_container {
    width: 7.5%;
    height: 100%;
    background-color: green;
}

.entire_app_page_body {
    width: 92.5%;
    height: 100%;
    background-color: orangered;
}

.entire_app_page_body .logo_search__container {
    width: 100%;
    height: 10%;
    background-color: dodgerblue;
}

.entire_app_page_body .body_content_container {
    width: 100%;
    height: 90%;
    background-color: white;
}