<div id="entire_app__outlet">
    <div class="sidebar_container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="entire_app_page_body">
        <div class="logo_search__container d-flex justify-content-between mt-2 w-100">
            <img src="assets/images/logo.png" alt="logo" class="h-75">
            <div class="d-inline-block align-self-center h-50 d-flex align-content-center w-50 p-2 justify-self-end rounded" style="background-color: #EBF1FA;">
                <svg fill="none" height="24" stroke="currentColor" class="align-self-center" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 30 30" width="24" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="8"/>
                    <line x1="21" x2="16.65" y1="21" y2="16.65"/>
                </svg>
                <input type="text" class="w-100 p-2" style="outline: none; border: none; background-color: #EBF1FA;" placeholder="Search at codeama...">
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>