<div id="entire_app__signup_form">
    <div (click)="modeChange()" class="dark_mode">
        <svg id="contrast-drop-line" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 45 45">
            <path id="Path_25" data-name="Path 25" d="M0,0H45V45H0Z" fill="none"/>
            <path id="Path_26" data-name="Path 26" d="M22.5,5.833,11.775,15.567a12.885,12.885,0,0,0,0,19.467,16.279,16.279,0,0,0,21.449,0,12.885,12.885,0,0,0,0-19.467Zm0-5.561L36.289,12.787a16.567,16.567,0,0,1,0,25.029,20.93,20.93,0,0,1-27.577,0,16.567,16.567,0,0,1,0-25.029L22.5.272Zm0,34.862V15.469c5.983,0,10.833,4.4,10.833,9.832S28.483,35.134,22.5,35.134Z" transform="translate(0 0)" fill="#ffffff"/>
        </svg>          
    </div>
    <div class="form_body_container col-mob-12">
       <div class="verification_email_body">
            <img src="https://ouch-cdn2.icons8.com/2WlxNMSooDOgMkQoyjx9A9hAOchObdJ1oHFX3p9YMR8/rs:fit:1368:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTcw/L2I2MzE1NjBjLWE3/ZTQtNDg1My1hOTQ0/LTI0MGQzZTJjMWM4/ZC5zdmc.png" alt="">
            <h2>We just delivered an email verification!</h2>
            <p>If you didn't find the email verification then try checking your <span>spam box</span>.</p>
            <button>Resend the email</button>
       </div>
    </div>
</div>