<div class="questionsDetails" *ngFor="let question of questions">
    <hr>
    <div>
        <div>
            <div class="dev_details" class="d-flex">
                <figure class="position-relative d-flex justify-content-center">
                    <div>
                        <img style="width: 100%;" [src]="question.devDetails.pic" alt="">
                    </div>
                    <figcaption class="{{checkBadge(question.devDetails.badge)}} rounded-pill">{{question.devDetails.badge}}</figcaption>
                </figure>
                <div>
                    <p>
                        <strong>{{question.devDetails.names}}</strong><span>@{{question.devDetails.username}}</span>
                    </p>
                    {{question.questionDetails.date_updated | date:"longDate"}}
                </div>
            </div>
            <div class="question_details">
                <h5><a [href]="answerQuestionLink + question.questionDetails._id" class="text-decoration-none"><strong>{{question.questionDetails.question}}</strong></a></h5>
                <p id="div_desc" >{{question.questionDetails.desc}}</p>
                <div [innerHTML]="question.questionDetails.text_qtn" id="div_desc" ></div>
            </div>
            <p id="dev_username">{{question.devDetails.username}}.codeama.dev</p>
            <div class="question_views">
                <div>
                    <a [href]="answerQuestionLink + question.questionDetails._id" style="color: inherit;">
                        <strong>{{question.questionDetails.comments.length}}</strong> Answers
                    </a>
                </div>
            </div>
        </div>
        <div style="width: 40%; font-size: .9em;">
            <h6 class=" text-center">Tagged technologies</h6>
            <div class=" d-flex justify-content-center flex-wrap">
                <img *ngFor="let tagtech of question.questionDetails.tagged_tech" src="{{tagtech.img}}" alt="" style="display: inline; width: auto; height: 40px; margin-right: 10px;" class="mt-2">
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-rotate">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 