.questionsDetails {
    color: var(--mainBlack) !important;
    >div {
        display: flex;
        align-items: center;
        >div:first-of-type {
            padding: 0px 20px 0px 40px;
            width: 60%;
            >div:first-of-type {
                figure {
                    margin-right: 20px;
    
                    >div {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                    
                    figcaption {
                        font-size: .6em;
                        font-weight: 400;
                        padding: 1px 5px;
                        position: absolute;
                        bottom: -18px;
                        border: 1px solid;
                        margin-bottom: 5px;
                        color: white;
        
                        &.absBeg {
                            background: rgb(190, 30, 46);
                            border-color: #BE1E2D;
                        }
                        &.pro {
                            background: rgb(28, 116, 188);
                            border-color: #1C75BC;
                        }
                        &.interm {
                            background: rgb(0, 167, 156);
                            border-color: #00A79D;
                        }
                        &.beginner {
                            background: rgb(247, 149, 29);
                            border-color: #F7941D;
                        }        
                    }
                }
                >div {
                    font-size: .85em;
                    
                    p {
                        margin: 0;
    
                        strong {
                            margin-right: 10px;
                        }
                    }
                }
            }
    
            >div:nth-of-type(2){
    
                h5 {
                    margin: 10px 0 20px;
                    font-size: 1.1em;

                    a {
                        color: var(--mainBlack);
                    }
                }
                p {
                    font-size: .8em;
                }
            }
    
            p#dev_username {
                font-size: .8em;
                color: var(--mainBlack);
                opacity: .5;
            }
    
            >div:last-of-type {
                font-size: .9em;
                white-space: nowrap;
                >div {
                    margin-right: 7%;
                    display: inline;
    
                    svg {
                        margin-right: 3px;
                    }
                    i.fa-thumbs-up {
                        color: var(--dimBlue);
                    }
    
                    >div {
                        display: inline;
                        position: relative;
                        bottom: -5px;
                        margin-left: 5px;
                        div {
                            height: 26px;
                            width: 26px;
                            display: inline-flex;
                            justify-content: center;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 1px solid white;
                            background: rgb(143, 51, 14);
                            position: relative;
    
                            &:nth-child(2){
                                left: -12px;
                            }
    
                            &:not(:nth-child(-n+2)){
                                left: -24px;
                            }
                        } 
                    }
                }
            }
        }
    }

    hr {
        opacity: .2;
    }

}

#div_desc {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

p#div_desc {
    margin-top: -5px;
}