<div id="entire_user_profile">
    <div class="cover_banner">
        <div class="user_profile_image">
            <img src="../../../assets/images/seth.png" alt="avatar">
        </div>
        <div class="cover_photo">
            <img src="../../../assets/images/defaultcoverimg.png" alt="coverimage">
        </div>
        <div class="user_main_detail_content">
            <div class="user_content_details">
                <div class="username">
                    <h2>Abijuru Seth</h2>
                    <div class="badge">
                        intermediate
                    </div>
                </div>
                <div class="description">
                    <p>Full stack web developer</p>
                </div>
            </div>
            <div class="share_our_community">
                <div class="share_container">
                    <p>Don't keep it yourself, Help us grow</p>
                    <a target="_blank" href="https://twitter.com/intent/tweet?source=tweetbutton&text=Codeama&url=https://codeama.netlify.app+Launched today." class="tweet" >
                        <svg id="twitter-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28">
                            <path id="Path_176" data-name="Path 176" d="M0,0H28V28H0Z" fill="none"/>
                            <path id="Path_177" data-name="Path 177" d="M26.162,6.131a9.746,9.746,0,0,1-2.873.817,5.179,5.179,0,0,0,2.2-2.872,9.78,9.78,0,0,1-3.177,1.26A4.872,4.872,0,0,0,16.3,4.3a5.263,5.263,0,0,0-2.509,5.767A14.038,14.038,0,0,1,3.476,4.645,5.324,5.324,0,0,0,2.8,7.256a5.245,5.245,0,0,0,2.225,4.321,4.848,4.848,0,0,1-2.266-.649v.065a5.151,5.151,0,0,0,4.012,5.091,4.859,4.859,0,0,1-2.26.09,5.033,5.033,0,0,0,4.674,3.606,9.781,9.781,0,0,1-7.406,2.15,13.78,13.78,0,0,0,7.668,2.334c9.2,0,14.235-7.911,14.235-14.772,0-.223-.006-.449-.016-.67a10.384,10.384,0,0,0,2.5-2.688Z" transform="translate(0 0)" fill="#fff"/>
                        </svg>                              
                        Tweet us
                    </a>                        
                    <div data-href="https://codeama.netlify.app" >
                        <a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcodeama.netlify.app%2F&amp;src=sdkpreparse" >
                            <svg id="facebook-circle-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28">
                                <path id="Path_174" data-name="Path 174" d="M0,0H28V28H0Z" fill="none"/>
                                <path id="Path_175" data-name="Path 175" d="M14,2a12.014,12.014,0,0,0-1.874,23.879v-8.4H9.078V14.012h3.048V11.366c0-3.01,1.79-4.673,4.532-4.673a18.453,18.453,0,0,1,2.686.234V9.882H17.832a1.735,1.735,0,0,0-1.956,1.876v2.253H19.2l-.532,3.472h-2.8v8.4A12.014,12.014,0,0,0,14,2Z" fill="#fff"/>
                            </svg>  
                            Post us on facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user_details">

    </div>
</div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="4JrmzgkT"></script>