<div id="entire_user_profile">
    <div class="user_profile_image">
        <img src="../../../assets/images/seth.png" alt="avatar">
    </div>
    <div class="cover_banner">
        <div class="cover_photo">
            <img src="../../../assets/images/defaultcoverimg.png" alt="coverimage">
        </div>
        <div class="user_main_detail_content">
            <div class="user_content_details">
                
            </div>
            <div class="share_our_community">

            </div>
        </div>
    </div>
    <div class="user_details">

    </div>
</div>