
.articlesDetails {
    color: var(--mainBlack) !important;
    >div {
        display: flex;
        align-items: center;
        $bg_color: var(--contBgLight);
        background-color: $bg_color;
        border-radius: 7px;
        margin-bottom: 10px;

        >div:first-of-type {
            padding: 20px 20px 20px 40px;
            width: 65%;
            >div:first-of-type {
                width: 100%;
                figure {
                    margin-right: 20px;
    
                    >div {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                    
                    figcaption {
                        font-size: .6em;
                        font-weight: 400;
                        padding: 1px 5px;
                        position: absolute;
                        bottom: -18px;
                        border: 1px solid;
                        margin-bottom: 5px;
                        color: white;
        
                        &.absBeg {
                            background: rgb(190, 30, 46);
                            border-color: #BE1E2D;
                        }
                        &.pro {
                            background: rgb(28, 116, 188);
                            border-color: #1C75BC;
                        }
                        &.interm {
                            background: rgb(0, 167, 156);
                            border-color: #00A79D;
                        }
                        &.beginner {
                            background: rgb(247, 149, 29);
                            border-color: #F7941D;
                        }        
                    }
                }
                >div {
                    font-size: .85em;
                    width: 100%;
                    p {
                        margin: 0;
                        width: 100%;
                        cursor: pointer;
                        strong {
                            margin-right: 10px;
                        }
                    }
                }
            }
    
            >div:nth-of-type(2){
    
                h5 {
                    margin: 10px 0 20px;
                    font-size: 1.1em;

                    a {
                        color: var(--mainBlack) !important;
                    }
                }
                p {
                    font-size: .8em;
                }
            }
    
            p#dev_username {
                font-size: .8em;
                color: var(--mainBlack);
                opacity: .5;
                cursor: pointer;
            }
    
            >div:last-of-type {
                font-size: .9em;
                white-space: nowrap;
                >div {
                    margin-right: 7%;
                    display: inline;
    
                    svg {
                        margin-right: 3px;
                    }
                    i.fa-thumbs-up {
                        color: #4290ed;
                    }
    
                    >div {
                        display: inline;
                        position: relative;
                        bottom: -5px;
                        margin-left: 5px;
                        div {
                            height: 26px;
                            width: 26px;
                            display: inline-flex;
                            justify-content: center;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 1px solid white;
                            background: rgb(143, 51, 14);
                            position: relative;
    
                            &:nth-child(2){
                                left: -12px;
                            }
    
                            &:not(:nth-child(-n+2)){
                                left: -24px;
                            }
                        } 
                    }
                }
            }
        }
    }

    hr {
        background-color:var(--mainBlack);
        opacity: .2;
    }

}

p#articleDescription{

    img {
        max-width: 40%;
        border-radius: 10px;
        display: block;
    }
}

#like:hover{
    cursor: pointer;
}

#comment:hover{
    cursor: pointer;
}


.comment {
    display: flex;
    background-color: #ebf1fa;
    width: 60%;
    justify-content: space-around;
    border-radius: 8px;
    height: 2.5em;
  }
  
  textarea {
    border: none;
    background: inherit;
    width: 40%;
    height: 30%;
    align-self: center;
    border: 2px solid #0a58ca;
    border-radius: 8px;
    position: absolute;
    padding: 5px 2px;
  }