
.badges{
    height: 80px;
}

.users-rect-col-title{
    font-family: "poppins",sans-serif;
    font-size: 15px;
}
.users-rect-col-num{
    font-size: 14px;
    font-weight: bold;
}
.user-rect{
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    padding: 20px 10px;
}
#team-line{
    background:#E3EBFB;
    
}
#shield-star-line{
    background:#E0DBFD;
}
#shield-flash-line{
    background:#DFFBEF;
  
}
#shield-check-line{
    background:#E1FAE5;
}
#shield-check-line,#shield-keyhole-line,#shield-flash-line,#shield-star-line,#team-line
,#delete-bin-2-line{
    border-radius: 6px;
    padding: 6px;
    width: 30px;
    height: auto;
}
#shield-keyhole-line{
    background:#FCE8F0;
}
.table-h1{
    font-size: 14px;
    font-weight: bold;
}
.table-h2{
    font-size: 14px;
    word-wrap: break-word;
    font-weight: 500;
}
.user-table-head{
    background-color: #E3EBFB;
}
.input-wrapper{
    width: 5%;
}
.table-head-input{
    border: 1px solid #B0B6C6;
    background-color: #E3EBFB;
}
.avatar img{
    width: 50%;
    border-radius: 5px;
    
}
.avatar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.user-table-content{

    background-color: white;
}
.user-table-head, .user-table-content{
    margin: 0.25em 0;
}
.admin{
    color: #4969FA;
}
.pro{
    color: #6BEEA6;
}
.beginner{
    color: #F15B93;
}

.ngx-pagination {
    padding-left: 0 px!important;
 }

 .ngx-pagination.btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.table-pagination /deep/ .ngx-pagination .current {
    background: none;
    color: #326CFA;
  }
  .table-pagination /deep/ .ngx-pagination{
    font-size: 13px;
    margin: 0 auto;
    width: 50%;
  }
.input-wrapper{
    margin: 0 auto;
}

input[type="checkbox"]{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}