ul.navbar-nav {
    list-style: none;
}

li>a.nav-link {
    text-decoration: none;
}

.sidebar {
    height: 96vh;
    border-radius: 5px;
    font-family: "poppins";
    background-color: #E9EFF7;
    float: left;
    margin: 10px !important;
    padding: 5px;
}

.active {
    background-color: #E9EFF7;
    border-radius: 8px;
}

.nav-link {
    color: #17202A;
    font-size: 10px;
    font-weight: 500;
    padding: 0 !important;
}

svg {
    height: 25px!important;
}

.profile {
    position: relative;
    top: 11em!important;
}


/* 
.nav-item {
    /* padding-left: 10px !important; */


/* .nav-link-container {
    /* height: 2em; */