.prize {
    width: 8em;
    margin-bottom: 1em;
    margin-right: 20px;
    position: relative;


    input {
      border: none;
      background: none;
      border-bottom: 3px dashed #151829;
      display: block;
      line-height: 0;
    }

    #marks {
      width: 25%;
      margin-left: 10px;
      margin-bottom: 6px;
    }

    #status {
      width: 77%;
      margin-left: 10px;
      margin-top: 3px;
      margin-bottom: 16px;
    }

    #prize

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
     -webkit-appearance: none; 
    margin: 0; 
   }

    p {
      padding-left: 10px;
    }

    .prize_status {
      color: #afafb1;
      font-size: 0.7em;
      padding-bottom: 4px;
    }

    
  }

  .cancel-button {
    position: absolute;
    top: -0.5em;
    left: 7.3em;
    background-color: #f51854;
    color: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

    p {
      margin-bottom: 0!important;
      padding: 0!important;
    }
  }
  
  .prize-1 {
    border: 1px solid #0d6efd;
    background-color: #e1ebfb;
  }
  
  .prize-3 {
    border: 1px solid #ffc107;
    background-color: #f5f6e7;
  }
  
  .prize-4 {
    border: 1px solid #dc3545;
    background-color: #f5e4ed;
  }
  
  .prize-2 {
    border: 1px solid #198754;
    background-color: #e1ebfb;
  }
  