<div class="side-bar-container ">
    <nav class="sidebar">
        <ul class="navbar-nav pt-2">
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="hood">
                <li class="nav-item text-center my-1" routerLink="hood">
                    <svg id="home-7-line" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_17" data-name="Path 17" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_18" data-name="Path 18"
              d="M28,32H7a1.531,1.531,0,0,1-1.5-1.56V16.4H1L16.49,1.758a1.458,1.458,0,0,1,2.019,0L34,16.4H29.5V30.44A1.531,1.531,0,0,1,28,32ZM8.5,28.88h18V13.527l-9-8.507-9,8.507Zm9-6.239a3.9,3.9,0,1,1,3.75-3.9A3.827,3.827,0,0,1,17.5,22.641Z"
              transform="translate(0 0)" fill="#212f3d" />
          </svg>
                    <a class="nav-link" routerLink="hood">Hood</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="projects">
                <li class="nav-item text-center my-2" routerLink="projects">
                    <svg id="focus-3-line" class="mx-auto" xmlns=" http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_13" data-name="Path 13" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_14" data-name="Path 14"
              d="M19,1V5.593A12.006,12.006,0,0,1,29.407,16H34v3H29.407A12.006,12.006,0,0,1,19,29.407V34H16V29.407A12.006,12.006,0,0,1,5.593,19H1V16H5.593A12.006,12.006,0,0,1,16,5.593V1ZM17.5,8.5a9,9,0,1,0,9,9A9,9,0,0,0,17.5,8.5Zm0,6a3,3,0,1,1-3,3A3,3,0,0,1,17.5,14.5Z"
              fill="#212f3d" />
          </svg>
                    <a class="nav-link" routerLink="projects">Projects</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="challenges">
                <li class="nav-item text-center my-2" routerLink="challenges">
                    <svg id="award-line" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_15" data-name="Path 15" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_16" data-name="Path 16"
              d="M25.937,22.493V32.862a.745.745,0,0,1-.428.657.931.931,0,0,1-.85-.009L17.5,29.668,10.34,33.51a.931.931,0,0,1-.85.009.744.744,0,0,1-.427-.658V22.495a11.309,11.309,0,0,1-4.3-13.421C6.661,4.238,11.768,1,17.5,1S28.339,4.238,30.238,9.074a11.309,11.309,0,0,1-4.3,13.421Zm-13.5,1.77v4.6L17.5,26.149l5.062,2.716v-4.6a15.031,15.031,0,0,1-10.125,0Zm5.062-2.14c5.592,0,10.125-4.053,10.125-9.053S23.092,4.017,17.5,4.017,7.375,8.071,7.375,13.071,11.908,22.124,17.5,22.124Z"
              transform="translate(0 0)" fill="#212f3d" />
          </svg>

                    <a class="nav-link" routerLink="challenges">Challenges</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="codeamas">
                <li class="nav-item text-center my-2" routerLink="codeamas">
                    <svg id="chat-smile-2-line" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_23" data-name="Path 23" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_24" data-name="Path 24"
              d="M10.2,31.177,2,33l1.823-8.2A15.492,15.492,0,1,1,10.2,31.177Zm.45-3.275,1.012.543a12.4,12.4,0,1,0-5.106-5.107L7.1,24.349,6.083,28.917,10.651,27.9Zm-.9-10.4h3.1a4.65,4.65,0,0,0,9.3,0h3.1a7.75,7.75,0,0,1-15.5,0Z"
              transform="translate(0 0)" fill="#212f3d" />
          </svg>

                    <a class="nav-link" routerLink="codeamas">Amas</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="amas/{{userId}}/questions">
                <li class="nav-item text-center my-2" routerLink="amas/{{userId}}/questions">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path 
                        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm2-1.645V14h-2v-1.5a1 1 0 0 1 1-1 1.5 1.5 0 1 0-1.471-1.794l-1.962-.393A3.501 3.501 0 1 1 13 13.355z" fill="rgba(76,85,95,1)"/></svg>
                    <a class="nav-link" routerLink="ama/{{userId}}/questions">My Amas</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="support">
                <li class="nav-item text-center my-2" routerLink="support">
                    <svg id="customer-service-2-line" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_21" data-name="Path 21" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_22" data-name="Path 22"
              d="M29.407,11.5H31a3,3,0,0,1,3,3v6a3,3,0,0,1-3,3H29.407A12,12,0,0,1,17.5,34V31a9,9,0,0,0,9-9V13a9,9,0,1,0-18,0V23.5H4a3,3,0,0,1-3-3v-6a3,3,0,0,1,3-3H5.593a12,12,0,0,1,23.814,0ZM4,14.5v6H5.5v-6Zm25.5,0v6H31v-6ZM11.14,23.177l1.59-2.544a9.008,9.008,0,0,0,9.54,0l1.59,2.544a12.008,12.008,0,0,1-12.72,0Z"
              fill="#212f3d" />
          </svg>

                    <a class="nav-link" routerLink="support">Support</a>
                </li>
            </div>
            <div class="nav-link-container px-1 mt-2" routerLinkActive="active" routerLink="notifications">
                <li class="nav-item text-center my-2" routerLink="notifications">
                    <svg id="notification-4-line" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <path id="Path_27" data-name="Path 27" d="M0,0H35V35H0Z" fill="none" />
            <path id="Path_28" data-name="Path 28"
              d="M27.382,14.093c0-5.009-4.424-9.07-9.882-9.07s-9.882,4.061-9.882,9.07V26.186H27.382Zm3.294,13.1.659.806a.7.7,0,0,1,.078.791.834.834,0,0,1-.737.418H4.324a.834.834,0,0,1-.737-.418A.7.7,0,0,1,3.665,28l.659-.806v-13.1C4.324,7.414,10.223,2,17.5,2S30.676,7.414,30.676,14.093ZM13.382,30.721h8.235A3.959,3.959,0,0,1,17.5,34.5a3.959,3.959,0,0,1-4.118-3.779Z"
              transform="translate(0 0)" fill="#212f3d" />
          </svg><span *ngIf="notRead != 0" class="badge badge-primary badge-pill">{{notRead}}</span>
                    <a class="nav-link" routerLink="notifications">Notifications </a>
                </li>
            </div>

            <div class="nav-link-container profile px-1 mt-2" routerLinkActive="active" (click)="getProfile()" style="cursor: pointer;">
                <li class=" nav-item text-center my-2" (click)="getProfile()">
                    <svg id="account-circle-fill" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                        <path id="Path_29" data-name="Path 29" d="M0,0H50V50H0Z" fill="none"/>
                        <path id="Path_30" data-name="Path 30" d="M25,2A23,23,0,1,1,2,25,23.008,23.008,0,0,1,25,2ZM11.253,32.857C14.629,37.894,19.7,41.1,25.368,41.1s10.739-3.2,14.113-8.243a20.7,20.7,0,0,0-28.228,0ZM25,22.7a6.9,6.9,0,1,0-6.9-6.9A6.9,6.9,0,0,0,25,22.7Z" transform="translate(0)" fill="#17202a"/>
                      </svg>
                    <a class="nav-link" (click)="getProfile()">Profile</a>
                </li>
            </div>
        </ul>
    </nav>
</div>