<div id="signup_form">
    
    <div class="form col-mob-11">
        <h2>Login with face recognition</h2>
       
        <div class="recognition_container mt-5">

            <img id="scanner" src="../../../assets/images/scan.png" alt="">
            <h1 *ngIf = "startCountDownToShot">
                {{ secs }}
            </h1>

            <div class="recognition_box">
                <div id="cam">
                    <webcam 
                        [height]="300" 
                        [width]="350" 
                        [trigger]="triggerObservable" 
                        (imageCapture)="handleImage($event)"
                        class="d-block">
                    </webcam>
                </div>


                <div class="webcam-image">
                    <div class="snapshot" *ngIf="webcamImage">
                        <img height="300" width="350" [src]="webcamImage.imageAsDataUrl" />
                    </div>
                </div>
                <img id="sample" class="sample" src="../../../assets/images/scansample.png" alt="">
                <img id="frame" src="../../../assets/images/reco.png" alt="">
            </div>
        </div>

        <div class="procedure_container mt-3" *ngIf = "startRecognitionProcess">
            <div *ngIf = "showProcedureNotice" class="alert alert-info">
                Make sure you follow procedures noted here.
            </div>
            <div *ngIf = "alertToStartGettingSamples" class="alert alert-warning">
                Preparing to get face samples in time specified &nbsp;&nbsp;
                <span class="spinner-border spinner-border-sm mr-1"></span>
            </div>
            <div *ngIf = "stepOne" class="alert alert-success">
                SMILE PLEASE! 
            </div>
            <div *ngIf = "noFaceDetectedError" class="alert alert-danger">
                Oops! No face detected! Make sure your image is clear.  
            </div>
            <div *ngIf = "processingResult" class="alert alert-success">
                Scanning for face matches! Please wait abit . . .  
                <span class="spinner-border spinner-border-sm mr-1 text-success" ></span>
            </div>
             <div *ngIf = "uploadSuccess" class="alert alert-success">
                FACE SAMPLES TAKEN SUCCESSFULLY !!
            </div>
            
        </div>

        <form>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26">
                        <g id="key-2-line" opacity="0.78">
                            <path id="Path_39" data-name="Path 39" d="M0,0H26V26H0Z" fill="none"/>
                            <path id="Path_40" data-name="Path 40" d="M11.617,12.751l8.717-8.772,1.57,1.58-1.57,1.581,2.748,2.765-1.57,1.581L18.762,8.721l-1.57,1.58,2.356,2.37-1.57,1.581-2.356-2.371-2.434,2.45a5.614,5.614,0,0,1-1.127,7.4,5.53,5.53,0,0,1-7.433-.369,5.614,5.614,0,0,1-.382-7.493,5.529,5.529,0,0,1,7.372-1.121Zm-.707,7.033A3.36,3.36,0,0,0,9.452,14.1a3.318,3.318,0,0,0-3.253.942,3.367,3.367,0,0,0,0,4.741,3.317,3.317,0,0,0,4.712,0Z" fill="#212f3d"/>
                        </g>
                    </svg>                      
                    Password
                </label>
            </div>

            <div class="form_field mt-3">
                <button type="submit" class="btn btn-primary">
                    LOGIN NOW
                    <svg id="arrow-right-line" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26">
                        <path id="Path_9" data-name="Path 9" d="M0,0H26V26H0Z" fill="none"/>
                        <path id="Path_10" data-name="Path 10" d="M17.694,11.871,11.659,5.818l1.591-1.6L22,13l-8.75,8.778-1.591-1.6,6.034-6.054H4V11.871Z" fill="#fff"/>
                    </svg>                      
                </button>
            </div>

        </form>

        <p>Already have account in codeama? <a routerLink="../../login"><span class="span_terms">Login</span></a></p>

    </div>
</div>